.pd_style01 { padding: 80px 0 120px; } 
.pd_style02 { padding: 80px 0 80px; } 
.pd_style03 { padding: 40px 0 40px; } 
.btn_style10 { display: inline-block; padding: 0.5rem 5em; background: url(../../images/learninghub/ico_arrow_bottom.png) center right 2rem #373737 no-repeat; color: #fff; font-size: 1.6rem; border-radius: 20px; } 
.btn_style11 {display: inline-block; padding: 1rem 3em;background: #ff7000; color: #fff; font-size: 1.6rem; font-weight: bold; border-radius: 30px;}
.btn_black03 { background: #1b1d1f; color: #fff; border: 1px solid #1b1d1f; } 
.ml10 { margin-left: 10px; } 
.sel_style01 { width: 238px; padding: 0.5rem 30px 0.5rem 1rem; background: url(../../images/learninghub/ico_arrow_up.png) no-repeat right 1rem center #373737; color: #666666; font-family: inherit; font-size: 1.4rem; border-radius: 0; border: 1px solid #c9cdd2; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.sel_style02 { width: 200px; padding: 0.5rem 30px 0.5rem 1rem; background: url(../../images/learninghub/ico_arrow02_bottom.png) no-repeat right 1rem center #fff; color: #666666; font-family: inherit; font-size: 1.4rem; border-radius: 0; border: 0; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.sel_style03 { width: 120px; padding: 0.5rem 30px 0.5rem 2rem; background: url(../../images/learninghub/ico_arrow02_bottom.png) no-repeat right 1rem center #f9f9f9; color: #666666; font-family: inherit; font-size: 1.4rem; border-radius: 5px; border: 0; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 

.t_bg_gray { background: #f1f1f1; } 

button { background: inherit; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer; } 
.main_wrap .main_visual .swiper-slide { text-align: center; font-size: 0; } 
.main_wrap .main_visual .swiper-slide img { max-width: 1200px; width: 100%; height: 100%; } 
.swiper, swiper-container { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; display: block; } 
.main_wrap .main_visual .swiper-control { display: flex; width: 130px; height: 36px; position: absolute; left: calc(50% - 600px); bottom: 30px; background: rgba(49, 49, 49, 0.7); border-radius: 50px; z-index: 2; } 
.main_wrap .main_visual .swiper-pagination { width: auto; top: 50%; left: 42px; right: initial; bottom: initial; transform: translateY(-50%); font-weight: 500; font-size: 13px; color: #fff; } 
.main_wrap .main_visual .swiper-pagination .swiper-pagination-current { /* color: #f36f20; */ } 
.main_wrap .main_visual .swiper-button-next, .main_wrap .main_visual .swiper-button-prev { width: 6px; height: 12px; margin-top: 0; transform: translateY(-50%); background-color: transparent; background-size: contain; z-index: 10; border: 0; cursor: pointer; } 
.main_wrap .main_visual .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn.png); left: 80px; } 
.main_wrap .main_visual .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn.png); left: 15px; } 
.main_wrap .main_visual .swiper-button-pause, 
.main_wrap .main_visual .swiper-button-resume { display: block; width: 10px; height: 12px; position: absolute; top: 50%; right: 18px; transform: translateY(-50%); background-color: transparent; background-size: contain; background-repeat: no-repeat; border: 0; } 
.main_wrap .main_visual .swiper-button-pause { background-image: url(../../images/learninghub/ico_stop.png); } 
.main_wrap .main_visual .swiper-button-resume { background-image: url(../../images/learninghub/ico_start.png); } 
.main_wrap .main_visual .swiper:not(.swiper-paused) .swiper-button-resume, .main_wrap .main_visual .swiper-paused .swiper-button-pause { display: none; } 
.main_wrap .clist_slide .slide_wrap { display: flex; justify-content: space-between; } 
.main_wrap .clist_slide .cont_wrap { width: 180px; flex-shrink: 0; } 
.main_wrap .clist_slide .cont_wrap .c_tit { color: #373737; font-size: 20px; } 
.main_wrap .clist_slide .cont_wrap .c_tit span { font-size: 28px; font-weight: bold; } 
.main_wrap .clist_slide .cont_wrap .c_txt { margin-top: 16px; color: #666666; font-size: 13px; } 
.main_wrap .clist_slide .cont_wrap button { width: 100%; max-width: 170px; margin-top: 16px; padding: 4px 0; background: #fff; color: #373737; font-weight: 500; font-size: 15px; border: 1px solid #373737; border-radius: 30px; } 
.main_wrap .clist_slide .cont_wrap .slide_btn { margin-top: 70px; position: relative; } 
.main_wrap .curation_cont.clist_slide .cont_wrap .slide_btn { margin-top: 100px; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-prev,
.main_wrap .clist_slide .cont_wrap .swiper-button-next { width: 50px; height: 50px; margin-top: 0; background-size: contain; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn_01.png); left: 0; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn_01.png); left: 70px; } 
.main_wrap .curation_cont.clist_slide .cont_wrap .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn_02.png); } 
.main_wrap .curation_cont.clist_slide .cont_wrap .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn_02.png); } 
.main_wrap .clist_slide .con_list { width: calc(100% - 300px); overflow: hidden; } 
.clist_slide .item a:hover::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(22, 22, 22, 0.92); border-radius: 10px; z-index: 5; } 
.clist_slide .item a { display: block; position: relative; } 
.clist_slide .item .img_wrap { border: 1px solid #dadada; border-radius: 10px; font-size: 0; overflow: hidden; } 
.clist_slide .item .img_wrap img { width: 100%; height: 100%; object-fit: cover; } 
.clist_slide .item .txt .t_date { margin-top: 15px; color: #666666; font-size: 13px; } 
.clist_slide .txt .t_tit { display: -webkit-box; height: 46px; margin: 8px 0 12px; color: #212121; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.t_state .t_tag { display: inline-block; padding: 4px 10px; background: #f2f2f2; font-size: 1.2rem; color: #666666; border-radius: 5px; } 
.t_state .t_tag { background: #e5e5e5; color: #898989; } 
.clist_slide .item .h_wrap { display: none; width: 100%; height: 100%; padding: 50px 18px 16px; position: absolute; top: 0; bottom: 0; color: #fff; box-sizing: border-box; z-index: 8; } 
.clist_slide .item a:hover .h_wrap { display: flex; flex-direction: column; } 
.clist_slide .item .h_wrap .h_tit { display: -webkit-box; height: 46px; margin-bottom: 30px; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.clist_slide .item .h_wrap li { padding-left: 16px; position: relative; font-size: 1.3rem; } 
.clist_slide .item .h_wrap li::before { content: ''; width: 12px; height: 12px; position: absolute; left: 0; top: 2px; background: url(../../images/learninghub/h_list_icon.png) no-repeat; } 
.clist_slide .item .h_wrap .h_btn { margin-top: auto; padding: 10px 0; background: #ff7000; color: #fff; font-size: 1.7rem; font-weight: bold; text-align: center; border-radius: 10px; } 
.hot_trend .cont_tabs { display: flex; margin-bottom: 60px; justify-content: center; } 
.hot_trend .cont_tabs li.active a { background: #373737; color: #fff; } 
.hot_trend .cont_tabs li + li { margin-left: 10px; } 
.hot_trend .cont_tabs li a { display: flex; width: 100%; height: 100%; padding: 8px 22px; background: #fff; color: #666666; font-size: 1.5rem; align-items: center; justify-content: center; text-align: center; box-sizing: border-box; border: 1px solid #373737; border-radius: 30px; } 
.hot_trend .tit_wrap { margin-bottom: 5rem; text-align: center; } 
.hot_trend .tit_wrap .p_tit { margin-bottom: 2rem; color: #373737; font-size: 2.8rem; font-weight: bold; } 
.hot_trend .tit_wrap p { color: #373737; font-size: 1.6rem; } 
.hot_trend .tab_content { display: none; } 
.hot_trend .tab_content.active { display: block; } 
.main_wrap .hot_trend .slide_wrap { position: relative; } 
.main_wrap .hot_trend.clist_slide .con_list { width: 100%; } 

.main_wrap .hot_trend.clist_slide .swiper-button-prev,
.main_wrap .hot_trend.clist_slide .swiper-button-next { width: 82px; height: 82px; margin-top: 0; transform: translateY(-50%); background-size: contain; } 
.main_wrap .hot_trend.clist_slide .swiper-button-next { right: -90px; background-image: url(../../images/learninghub/ico_next_btn_03.png); } 
.main_wrap .hot_trend.clist_slide .swiper-button-prev { left: -90px; background-image: url(../../images/learninghub/ico_prev_btn_03.png); } 
.main_wrap .hot_trend.clist_slide .item a:hover::before { content: none; } 

.main_wrap .popular_cont { background: url(../../images/learninghub/popular_cont_bg.png) top center no-repeat; } 
.main_wrap .popular_cont .tit_wrap { margin-bottom: 5rem; text-align: center; } 
.main_wrap .popular_cont .tit_wrap .p_tit { margin-bottom: 2rem; color: #373737; font-size: 2.8rem; font-weight: bold; } 
.main_wrap .popular_cont .tit_wrap .p_tit span { color: #ff7000; } 
.main_wrap .popular_cont .tit_wrap p { color: #373737; font-size: 1.6rem; } 

.main_wrap .popular_cont.clist_slide .item a:hover::before { content: none; } 
.main_wrap .popular_cont.clist_slide .con_list { width: 100%; position: relative; } 
.main_wrap .popular_cont.clist_slide .con_list .item { width: 280px; transform: scale(0.5); transition: all 0.3s; opacity: 0.5; font-size: 0; } 
.main_wrap .popular_cont.clist_slide .con_list .item a { display: block; } 
.main_wrap .popular_cont.clist_slide .con_list .item .img_wrap { display: block; padding-bottom: 248px; position: relative; border-radius: 10px; overflow: hidden; } 
.main_wrap .popular_cont.clist_slide .con_list .item img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-active,
.main_wrap .popular_cont.clist_slidet .item.swiper-slide-duplicate-active { transform: scale(1); opacity: 1; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-prev { margin-right: 2%; margin-left: -2%; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-next { margin-right: -2%; margin-left: 2%; } 
.main_wrap .popular_cont.clist_slide .item.first { margin-right: -4%; margin-left: 4%; } 
.main_wrap .popular_cont.clist_slide .item.last { margin-right: 4%; margin-left:-4%; } 
.main_wrap .popular_cont.clist_slide .swiper-button-prev,
.main_wrap .popular_cont.clist_slide .swiper-button-next { width: 82px; height: 82px; margin-top: 0; transform: translateY(-50%); background-size: contain; z-index: 10; } 
.main_wrap .popular_cont.clist_slide .swiper-button-prev { left: 50%; margin-left: -15%; background-image: url(../../images/learninghub/ico_prev_btn_03.png); } 
.main_wrap .popular_cont.clist_slide .swiper-button-next { right: 50%; margin-right: -15%; background-image: url(../../images/learninghub/ico_next_btn_03.png); } 
.main_wrap .micro_cont.clist_slide .item a:hover::before { content: none; } 
.main_wrap .micro_cont.clist_slide .item a { display: block; border-radius: 10px; font-size: 0; overflow: hidden; } 
.main_wrap .micro_cont.clist_slide .item { margin-top: 0 !important; margin-bottom: 16px !important; } 
.main_wrap .banner_wrap .con_list { position: relative; overflow: hidden; } 
.main_wrap .banner_wrap .item a { display: block; font-size: 0; border-radius: 30px; overflow: hidden; } 
.main_wrap .banner_wrap .swiper-button-prev,
.main_wrap .banner_wrap .swiper-button-next { width: 9px; height: 16px; margin-top: 0; transform: translateY(-50%); } 
.main_wrap .banner_wrap .swiper-button-prev { left: 30px; background: url(../../images/learninghub/ico_prev_btn.png) no-repeat; } 
.main_wrap .banner_wrap .swiper-button-next { right: 30px; background: url(../../images/learninghub/ico_next_btn.png) no-repeat; } 
.main_wrap .qmenu_area { padding: 4.6rem 0; background: #f9f9f9; border-radius: 20px; } 
.main_wrap .qmenu_area h3 { margin-bottom: 3rem; color: #373737; font-size: 3rem; font-weight: bold; text-align: center; } 
.main_wrap .qmenu_area ul { display: flex; max-width: 1100px; margin: 0 auto; justify-content: space-between; } 
.main_wrap .qmenu_area ul li:hover { background: #fff; box-shadow: 0px 0px 35px 0px rgba(88, 88, 88, 0.14); } 
.main_wrap .qmenu_area ul li { display: flex; width: 180px; height: 180px; border-radius: 50%; align-items: center; justify-content: center; } 
.main_wrap .qmenu_area ul li a::before { content: ''; display: block; width: 80px; height: 72px; margin: 0 auto 0.5rem; background-repeat: no-repeat; background-position: center; } 
.main_wrap .qmenu_area ul li:nth-child(1) a::before { background-image: url(../../images/learninghub/icon_qmenu01.png); } 
.main_wrap .qmenu_area ul li:nth-child(2) a::before { background-image: url(../../images/learninghub/icon_qmenu02.png); } 
.main_wrap .qmenu_area ul li:nth-child(3) a::before { background-image: url(../../images/learninghub/icon_qmenu03.png); } 
.main_wrap .qmenu_area ul li:nth-child(4) a::before { background-image: url(../../images/learninghub/icon_qmenu04.png); } 
.main_wrap .qmenu_area ul li:nth-child(5) a::before { background-image: url(../../images/learninghub/icon_qmenu05.png); } 
.main_wrap .qmenu_area ul li a { display: block; width: 100%; height: 100%; padding-top: 3rem; border-radius: 50%; align-items: center; justify-content: center; box-sizing: border-box; } 
.main_wrap .qmenu_area ul li a p { display: flex; min-height: 56px; color: #373737; font-size: 1.8rem; font-weight: 500; text-align: center; align-items: center; justify-content: center; line-height: 1.2; } 
.main_wrap .service_wrap { padding: 3.6rem 0; background: url(../../images/learninghub/service_cont_bg.png) center no-repeat; background-size: cover; } 
.main_wrap .service_wrap .service_area { display: flex; justify-content: space-between; } 
.main_wrap .service_wrap .service_right { width: 600px; padding: 50px 0 70px; position: relative; background: #fff; } 
.main_wrap .service_wrap .service_right .tit { display: inline-block; padding: 0.5rem 2.5rem; position: absolute; top: 20px; left: -20px; background: #373737; color: #fff; font-size: 1.8rem; font-weight: 500; } 
.main_wrap .service_wrap .graph_area { display: flex; max-width: 380px; width: 100%; height: 200px; margin: 0 auto; box-sizing: border-box; } 
.main_wrap .service_wrap .graph_area li { flex: 1; position: relative; } 
.main_wrap .service_wrap .graph_area li .graph { display: flex; width: 40px; height: 100%; margin: 0 auto; flex-direction: column-reverse; background: transparent; border-radius: 20px; } 
.main_wrap .service_wrap .graph_area li .graph .bar { position: relative; border-radius: 20px; } 
.main_wrap .service_wrap .graph_area li .graph .bar .g_txt { position: absolute; top: 20px; left: 50%; transform: translateX(-50%); color: #fff; font-size: 1.6rem; font-weight: bold; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data1 { background: #6dbae1; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data2 { background: #3b3f57; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data3 { background: #8adac4; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data4 { background: #969cb0; } 
.main_wrap .service_wrap .graph_area li .txt { position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%); text-align: center; white-space: nowrap; } 
.main_wrap .service_wrap .graph_area li .txt p { color: #373737; font-size: 1.4rem; font-weight: 500; } 
.main_wrap .service_wrap .graph_area li .txt span { display: block; color: #878787; font-size: 1.2rem; font-weight: 400; } 
.main_wrap .service_wrap .service_left h3 { margin: 6.4rem 0 2.5rem; color: #fff; font-size: 3.4rem; font-weight: bold; } 
.main_wrap .service_wrap .service_left p { color: #fff; font-size: 1.6rem; line-height: 2; } 
.main_wrap .notice_wrap .notice_area { display: flex; justify-content: space-between; } 
.main_wrap .notice_wrap .notice_tit { display: flex; padding: 0 1rem 2rem 0; border-bottom: 1px solid #373737; justify-content: space-between; align-items: flex-end; } 
.main_wrap .notice_wrap .notice_tit h3 { color: #212121; font-size: 2.5rem; font-weight: 500; } 
.main_wrap .notice_wrap .notice_tit .more_btn::before { content: '\002B'; display: inline-block; margin-right: 4px; color: #000; } 
.main_wrap .notice_wrap .notice { width: calc(100% - 310px); position: relative; } 
.main_wrap .notice_wrap .notice .notice_list li { display: flex; padding: 1.8rem 1rem; align-items: center; border-bottom: 1px solid #ededed; } 
.main_wrap .notice_wrap .notice .notice_list li a { max-width: calc(100% - 80px); padding-left: 1rem; position: relative; color: #666666; font-size: 1.4rem; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.main_wrap .notice_wrap .notice .notice_list li a::before { content: ''; width: 2px; height: 2px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: #000; border-radius: 50%; } 
.main_wrap .notice_wrap .notice .notice_list li .state_area { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li .state_area span { margin-left: 1rem; } 
.main_wrap .notice_wrap .notice .notice_list li.alarm .alarm_tag { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li.file .file_tag { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li .alarm_tag { display: none; padding: 0.2rem 2rem; background: #ff8200; color: #fff; border-radius: 20px; vertical-align: middle; } 
.main_wrap .notice_wrap .notice .notice_list li .file_tag { display: none; width: 18px; height: 20px; background: url(../../images/learninghub/ico_file.png) no-repeat; vertical-align: middle; } 
.main_wrap .notice_wrap .notice .notice_list li .date { margin-left: auto; color: #666666; font-size: 1.4rem; font-weight: 300; white-space: nowrap; } 
.main_wrap .notice_wrap .notice_banner { max-width: 280px; width: 100%; padding: 3rem 2.8rem; background: #f2f2f2; border-radius: 30px; box-sizing: border-box; } 
.main_wrap .notice_wrap .notice_banner .b_tit { color: #373737; font-size: 2rem; font-weight: bold; } 
.main_wrap .notice_wrap .notice_banner .b_tel { color: #373737; font-size: 3.2rem; font-weight: 900; } 
.main_wrap .notice_wrap .notice_banner .txt_area { margin-top: 2rem; position: relative; text-align: right; } 
.main_wrap .notice_wrap .notice_banner .txt_area::before { content: ''; width: 72px; height: 71px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: url(../../images/learninghub/ico_notice_tel.png) no-repeat; } 
.main_wrap .notice_wrap .notice_banner .txt_area p { color: #666666; font-size: 1.5rem; font-weight: 400; } 
.main_wrap .notice_wrap .notice_banner .txt_area p + p { margin-top: 4px; } 


/* 과정상세 페이지 */
.content_wrap h2.list_tit { color: #373737; font-size: 3rem; font-weight: bold; text-align: center; } 
.content_wrap .detail_wrap .course_view { display: flex; padding: 4rem 0; border-bottom: 1px solid #dadada; justify-content: space-between; } 
.content_wrap .detail_wrap .course_view .img_wrap { height: 225px; flex-shrink: 0; } 
.content_wrap .detail_wrap .course_view .img_wrap img { width: 100%; height: 100%; object-fit: cover; } 
.content_wrap .detail_wrap .course_view .rate_area { display: flex; margin-top: 1rem; align-items: center; } 
.content_wrap .detail_wrap .course_view .rate_area p { margin-left: 1rem; position: relative; color: #666666; font-size: 1.4rem; } 
.content_wrap .detail_wrap .course_view .rate_area .view_count { padding-left: 1rem; } 
.content_wrap .detail_wrap .course_view .rate_area .view_count::before { content: ''; width: 1px; height: 12px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: #666666; } 
.content_wrap .detail_wrap .course_view .info_cont { width: calc(100% - 350px); } 
.content_wrap .detail_wrap .course_view .info_cont .tit { margin-bottom: 1.5rem; color: #373737; font-size: 2.4rem; font-weight: bold; line-height: 1.5; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
.content_wrap .detail_wrap .course_view .info_cont .bread_crumb { justify-content: initial; } 
.content_wrap .detail_wrap .course_view .info_cont .bread_crumb ul { display: flex; margin-right: 1rem; align-items: center; } 
.content_wrap .detail_wrap .course_view .info_cont .course_list { display: flex; flex-wrap: wrap; } 
.content_wrap .detail_wrap .course_view .info_cont .course_list li { display: flex; width: 50%; margin-bottom: 1rem; } 
.content_wrap .detail_wrap .course_view .info_cont .course_list li strong { max-width: 100px; width: 100%; margin-right: 2rem; color: #373737; font-size: 1.5rem; font-weight: bold; } 
.content_wrap .detail_wrap .course_view .info_cont .course_list li .txt { color: #666666; font-size: 1.5rem; font-weight: 400; } 
.content_wrap .detail_wrap .course_view .info_cont .course_list li:last-child { margin-bottom: 0; } 
.content_wrap .ld_tit { display: flex; padding-bottom: 16px; border-bottom: 1px solid #373737; justify-content: space-between; } 
.content_wrap .ld_tit .tit { color: #373737; font-size: 2rem; font-weight: 500; } 
.content_wrap .ld_tit .tit span { font-size: 1.6rem; font-weight: 300; } 
.content_wrap .detail_wrap .course_info { display: flex; flex-wrap: wrap; } 
.content_wrap .detail_wrap .course_info li { display: flex; width: 50%; padding: 1.8rem 3rem; border-bottom: 1px solid #dadada; box-sizing: border-box; } 
.content_wrap .detail_wrap .course_info li strong { width: 170px; color: #373737; font-size: 1.5rem; flex-shrink: 0; } 
.content_wrap .detail_wrap .course_info li .txt { color: #666666; font-size: 1.5rem; font-weight: 500; } 
.content_wrap .detail_wrap .txt_box { padding: 2rem 2.5rem; word-break: keep-all; } 
.content_wrap .detail_wrap .txt_box .txt { margin-bottom: 2rem; color: #373737; font-size: 1.5rem; } 
.content_wrap .detail_wrap .txt_box ul li strong { color: #373737; font-size: 1.5rem; font-weight: 500; } 
.content_wrap .detail_wrap .txt_box ul li p { color: #666666; font-size: 1.4rem; } 
.content_wrap .ld_tit .rate_area { display: flex; align-items: center; } 
.content_wrap .ld_tit .rate_area .txt { margin-right: 1.6rem; color: #666666; font-size: 1.4rem; } 
.content_wrap .rate_area .rv_rate { width: 86px; height: 14px; position: relative; background: url(../../images/learninghub/ico_star_bg.png) no-repeat; z-index: 1; } 
.content_wrap .ld_tit .rate_area .rv_score { margin-left: 1rem; color: #666666; font-size: 1.4rem; } 
.content_wrap .detail_wrap .rate_area .rv_rate span { width: auto; height: 14px; position: absolute; background: url(../../images/learninghub/ico_star_on.png) no-repeat; z-index: 2; } 
.content_wrap .detail_wrap .review .item { display: none; padding: 3.6rem 3rem; border-bottom: 1px solid #dadada; } 
.content_wrap .detail_wrap .review .score_wrap { max-width: 86px; margin-right: 5rem; } 
.content_wrap .detail_wrap .review .rv_score { margin-bottom: 10px; color: #000; font-size: 4rem; font-weight: 900; text-align: center; } 
.content_wrap .detail_wrap .review .rv_info { display: flex; width: 100%; flex-direction: column; } 
.content_wrap .detail_wrap .review .rv_info .desc { min-height: 62px; color: #666666; font-size: 1.4rem; font-weight: 300; line-height: 1.5; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; } 
.content_wrap .detail_wrap .review .rv_info ul { display: flex; margin-left: auto; } 
.content_wrap .detail_wrap .review .rv_info li .rv_user { margin-right: 16px; color: #666666; font-size: 1.4rem; } 
.content_wrap .detail_wrap .review .rv_info li .rv_date { color: #666666; font-size: 1.4rem; } 
.content_wrap .detail_wrap .etc_cont .slide_wrap { position: relative; } 
.content_wrap .detail_wrap .etc_cont .con_list { width: 100%; overflow: hidden; } 
.content_wrap .detail_wrap .etc_cont.clist_slide .swiper-pagination { bottom: -40px; left: 50%; transform: translateX(-50%); } 
.content_wrap .detail_wrap .etc_cont.clist_slide .swiper-pagination span { width: 14px; height: 14px; } 
.content_wrap .detail_wrap .etc_cont.clist_slide .swiper-pagination span + span { margin-left: 6px; } 
.content_wrap .detail_wrap .etc_cont.clist_slide .swiper-pagination-bullet-active { background-color: #f36f20; } 
.content_wrap .detail_wrap .graph_wrap { display: flex; margin-top: 3rem; justify-content: space-between; } 
.content_wrap .detail_wrap .graph_wrap .left_box { padding: 30px 0; max-width: 580px; width: 100%; background: #f1f1f1; border-radius: 20px; } 
.content_wrap .detail_wrap .graph_wrap .right_box { width: 580px; } 

.content_wrap .detail_wrap .graph_wrap .graph_list li { padding: 1rem 1rem 1rem 7rem; color: #666666; font-size: 1.4rem; } 
.content_wrap .detail_wrap .graph_wrap .graph_list li:nth-child(1) { background: #f1f1f1; color: #373737; font-size: 2rem; font-weight: bold; border-radius: 30px; } 
.content_wrap .detail_wrap .graph_wrap .graph_list li:nth-child(2) { color: #373737; font-size: 1.8rem; font-weight: 500; } 
.content_wrap .detail_wrap .graph_wrap .graph_list li:nth-child(3) { color: #373737; font-size: 1.5rem; font-weight: 500; } 
.content_wrap .detail_wrap .graph_wrap .graph_area { display: flex; width: 100%; height: 180px; margin: 0 auto; box-sizing: border-box; justify-content: center; } 
.content_wrap .detail_wrap .graph_wrap .graph_area li { flex: 1; position: relative; max-width: 60px; } 
.content_wrap .detail_wrap .graph_wrap .graph_area li .graph { display: flex; width: 20px; height: 100%; margin: 0 auto; flex-direction: column-reverse; background: transparent; border-radius: 20px; }
.content_wrap .detail_wrap .graph_wrap .graph_area li .graph .bar { position: relative; background: #f36f20; border-radius: 20px; } 
.content_wrap .detail_wrap .graph_wrap .graph_area li .graph .bar .g_txt { position: absolute; top: -20px; left: 50%; transform: translateX(-50%); color: #666666; font-size: 1.2rem; } 
.content_wrap .detail_wrap .graph_wrap .graph_area li .txt { position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); color: #666666; font-size: 1.2rem; text-align: center; white-space: nowrap; } 

.table_list.t_style02 table { border: 1px solid #dadada; } 
.table_list.t_style02 > table th, .table_list.t_style02 > table td { padding: 1rem 0; border: 1px solid #dadada; border-top: 0; } 
.table_list.t_style02 > table th { color: #373737; font-size: 1.5rem; font-weight: 500; } 
.table_list.t_style02 > table td { color: #666666; font-size: 1.4rem; } 
.table_list table tbody > tr { border-bottom: 1px solid #dadada; } 
.table_list > table th, .table_list > table td { padding: 2rem 0; } 
.table_list.t_style01 table tbody > tr:last-child { border-bottom: 1px solid #373737; } 

/* ai역량 추천 */
.content_wrap .course_wrap .ld_tit { display: flex; margin-bottom: 2rem; justify-content: space-between; } 
.content_wrap .course_wrap .ld_tit .tit { color: #373737; font-size: 1.8rem; font-weight: 500; } 
.content_wrap .course_wrap .ld_tit .tit span { font-size: 1.8rem; font-weight: 500; } 
.content_wrap .course_wrap .course_list { display: flex; flex-wrap: wrap; gap: 26px; } 
.content_wrap .course_wrap .course_list .item { width: calc(100% / 4 - 20px); } 
.content_wrap .course_wrap .course_list .item a { display: block; position: relative; } 
.content_wrap .course_wrap .course_list .item a:hover .h_box { display: flex; } 
.content_wrap .course_wrap .course_list .item a .h_box { display: none; padding: 40px 48px; position: absolute; width: 586px; height: 100%; background: #373737; border-radius: 10px; box-sizing: border-box; flex-direction: column; z-index: 100; } 
.content_wrap .course_wrap .course_list .item:last-child a .h_box { right: 0; } 
.content_wrap .course_wrap .course_list .item a .h_box .txt01 { margin-bottom: 2rem; color: #fff; font-size: 1.8rem; } 
.content_wrap .course_wrap .course_list .item a .h_box .txt02 { color: #fff; font-size: 2.5rem; font-weight: 500; } 
.content_wrap .course_wrap .course_list .item a .h_box .txt02 span { color: #ff7000; text-decoration: underline; text-underline-offset: 10px; } 
.content_wrap .course_wrap .course_list .item a .h_box .txt03 { margin-top: auto; color: #fff; font-size: 1.6rem; } 
.content_wrap .course_wrap .course_list .item a .h_box .txt03::after { content: ''; display: inline-block; width: 20px; height: 14px; margin-left: 1rem; background: url(../../images/learninghub/ico_arrow_right.png) no-repeat; } 
.content_wrap .course_wrap .course_list .item .img_wrap { position: relative; border: 1px solid #dadada; border-radius: 10px; font-size: 0; overflow: hidden; } 
.content_wrap .course_wrap .course_list .item .img_wrap .img_tag::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.6); z-index: -1; } 
.content_wrap .course_wrap .course_list .item .img_wrap .img_tag { padding: 0.5rem 0; position: absolute; top: 0; left: 0; right: 0; color: #fff; font-size: 1.3rem; text-align: center; z-index: 1; } 
.content_wrap .course_wrap .course_list .item .img_wrap img { width: 100%; height: 100%; object-fit: cover; } 
.content_wrap .course_wrap .course_list .item .txt .t_date { margin-top: 15px; color: #666666; font-size: 13px; } 
.content_wrap .course_wrap .course_list .item .txt .t_tit { display: -webkit-box; height: 46px; margin: 8px 0 12px; color: #212121; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.view_list_wrap .ld_tit { display: flex; margin-bottom: 2rem; justify-content: space-between; } 
.view_list_wrap .ld_tit .tit { color: #373737; font-size: 1.6rem; font-weight: 500; } 
.view_list_wrap .ld_tit .tit span { font-size: 1.6rem; font-weight: 500; } 
.view_list_wrap .view_list { display: flex; flex-wrap: wrap; gap: 26px } 
.view_list_wrap .view_list .item { display: none; width: calc(100% / 4 - 20px); } 
.view_list_wrap .view_list .item a { display: block; position: relative; } 
.view_list_wrap .view_list .item a:hover::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(22, 22, 22, 0.92); border-radius: 10px; z-index: 5; } 
.view_list_wrap .view_list .item a:hover .h_wrap { display: flex; flex-direction: column; } 
.view_list_wrap .view_list .item .img_wrap { border: 1px solid #dadada; border-radius: 10px; font-size: 0; overflow: hidden; } 
.view_list_wrap .view_list .item .img_wrap img { width: 100%; height: 100%; object-fit: cover; } 
.view_list_wrap .view_list .item .txt .t_date { margin-top: 15px; color: #666666; font-size: 13px; } 
.view_list_wrap .view_list .item .txt .t_tit { display: -webkit-box; height: 46px; margin: 8px 0 12px; color: #212121; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.view_list_wrap .view_list .item .h_wrap { display: none; width: 100%; height: 100%; padding: 50px 18px 16px; position: absolute; top: 0; bottom: 0; color: #fff; box-sizing: border-box; z-index: 8; } 
.view_list_wrap .view_list .item .h_wrap { display: none; width: 100%; height: 100%; padding: 50px 18px 16px; position: absolute; top: 0; bottom: 0; color: #fff; box-sizing: border-box; z-index: 8; } 
.view_list_wrap .view_list .item .h_wrap .h_tit { display: -webkit-box; height: 46px; margin-bottom: 30px; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.view_list_wrap .view_list .item .h_wrap li { padding-left: 16px; position: relative; font-size: 1.3rem; } 
.view_list_wrap .view_list .item .h_wrap li::before { content: ''; width: 12px; height: 12px; position: absolute; left: 0; top: 2px; background: url(../../images/learninghub/h_list_icon.png) no-repeat; } 
.view_list_wrap .view_list .item .h_wrap .h_btn { margin-top: auto; padding: 10px 0; background: #ff7000; color: #fff; font-size: 1.7rem; font-weight: bold; text-align: center; border-radius: 10px; } 


/* 전체과정 페이지 */
.content_wrap .all_search_wrap .search_area .ld_tit { border-bottom: 0; } 
.content_wrap .all_search_wrap .check_list { display: flex; } 
.content_wrap .all_search_wrap .check_list dl { flex: 1; } 
.content_wrap .all_search_wrap .check_list dl .tit { padding: 1.5rem 0; background: #f2f2f2; color: #373737; font-size: 1.5rem; text-align: center; border-right: 1px solid #fff; } 
.content_wrap .all_search_wrap .check_list dl:last-child .tit { border-right: 0; } 
.content_wrap .all_search_wrap .check_list dl:nth-child(n+5) .tit { background: #373737; color: #fff; } 
.content_wrap .all_search_wrap .check_list .inp_chk { display: none; } 
.content_wrap .all_search_wrap .check_list .lb_tag { display: inline-block; padding: 0.5rem 0.5rem 0.5rem 2rem; background: #fff; color: #666666; font-size: 1.3rem; border: 1px solid transparent; border-radius: 20px; box-sizing: border-box; } 
.content_wrap .all_search_wrap .check_list .inp_chk:checked + label { width: 100%; border-color: #373737; } 
.content_wrap .all_search_wrap .check_list ul { padding: 1.5rem 1rem; } 
.content_wrap .all_search_wrap .check_list .item + .item { margin-top: 1rem; } 
.content_wrap .all_search_wrap .check_result { display: flex; margin-top: 4rem; padding: 2.5rem 2rem 2.5rem 4rem; background: #f2f2f2; justify-content: space-between; align-items: center; } 
.content_wrap .all_search_wrap .check_result .search_btn { padding: 2.5rem 2.5rem; color: #fff; font-size: 1.6rem; font-weight: bold; background: #ff7000; border-radius: 15px; } 
.content_wrap .all_search_wrap .keywords_wrap { width: calc(100% - 240px); } 
.content_wrap .all_search_wrap .keywords_wrap .selected_keyword { display: inline-block; margin-right: 1rem; color: #666666; font-size: 1.3rem; } 
.content_wrap .all_search_wrap .keywords_wrap .selected_keyword:last-child { margin-right: 0; } 
.content_wrap .all_search_wrap .keywords_wrap .selected_keyword .btn_del { margin-left: 0.5rem; color: #666666; font-size: 1.3rem; border: 0; } 
.content_wrap .all_search_wrap .btn_area { display: flex; margin-top: 2rem; align-items: flex-end; } 
.content_wrap .all_search_wrap .btn_area .txt { color: #666666; font-size: 1.3rem; } 
.view_list_wrap .ld_tit .right_box { display: flex; align-items: center; } 
.view_list_wrap .ld_tit .sort_list { margin-left: 2rem; } 
.view_list_wrap .ld_tit .sort_list .radio_btn { padding-right: 1rem; margin-right: 0.5rem; position: relative; display: inline-block; } 
.view_list_wrap .ld_tit .sort_list .radio_btn:last-child::after { content: none; } 
.view_list_wrap .ld_tit .sort_list .radio_btn:last-child { padding-right: 0; margin-right: 0; } 
.view_list_wrap .ld_tit .sort_list .radio_btn::after { content: ''; width: 1px; height: 10px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background: #373737; } 
.view_list_wrap .ld_tit .sort_list .radio_btn input[type=radio] { display: none; } 
.view_list_wrap .ld_tit .sort_list .radio_btn label { display: block; color: #373737; font-size: 1.4rem; cursor: pointer; } 
.view_list_wrap .ld_tit .sort_list .radio_btn input[type=radio]:checked + label { font-weight: bold; } 

/* 팝업 */
.popUp.setUp { max-width: 1200px; background: #f9f9f9; z-index: 99999; } 
.popUp.setUp .popTop { border-bottom: 0; justify-content: initial; } 
.check03 label { font-size: 1.3rem } 
.check03 input[type="checkbox"] { -webkit-appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 15px; height: 15px; cursor: pointer; outline: none !important; border-radius: 3px; vertical-align: middle; background: #f9f9f9 } 
.check03 input[type="checkbox"]:checked { background:url(../../images/learninghub/ico_check.png) no-repeat top 4px left 2px #f9f9f9; } 

.check03 input[type="checkbox"]:checked::before { border-radius: 4px; transform: scale(1) translate(-50%, -50%) } 

.popUp.setUp .ckItem .tit { margin-bottom: 2rem; color: #373737; font-size: 1.8rem; text-align: center; } 
.popUp.setUp .com_area { display: flex; height: 170px; padding: 2rem; background: #fff; border: 1px solid #e5e5e5; border-radius: 10px; flex-direction: column; flex-wrap: wrap; align-items: flex-start; box-sizing: border-box; } 
.popUp.setUp .pc_pd { display: flex; max-width: 1060px; margin: 0 auto; gap: 0 40px; } 
.popUp.setUp .pc_pd .ckItem { flex: 1; } 
.popUp.setUp .popCont { padding: 0; } 
.popUp.setUp .popCont .btn_wrap { margin: 2rem 0 !important; } 
.popUp.setUp .popBottom { padding: 2rem 0; position: relative; background: #373737; } 
.popUp.setUp .popBottom .txt { color: #fff; font-size: 2rem; font-weight: bold; text-align: center; } 
.popUp.setUp .popBottom .txt span { color: #a0c44c; } 
.popUp.setUp .popBottom a { display: flex; max-width: 235px; width: 100%; height: 40px; position: absolute; top: 50%; right: 60px; transform: translateY(-50%); background: url(../../images/learninghub/ico_btn_arrow.png) center right 20px #000000 no-repeat; color: #fff; font-size: 1.6rem; align-items: center; justify-content: center; border-radius: 10px; } 