.pd_style01 { padding: 80px 0 120px; } 
.pd_style02 { padding: 80px 0 80px; } 
.pd_style03 { padding: 40px 0 40px; }
.btn_style10 {
    display: inline-block;
    padding: 0.5rem 5em;
    background: url(../../images/learninghub/ico_arrow_bottom.png) center right 2rem #373737 no-repeat;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 20px;                            
}
.ml10 {margin-left: 10px;}
.sel_style01 { width: 238px; padding: 0.5rem 40px 0.5rem 1rem; background: url(../../images/learninghub/ico_arrow_up.png) no-repeat right 1rem center #373737; color: #666666; font-family: inherit; font-size: 1.4rem; border-radius: 0; border: 1px solid #c9cdd2; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 

.main_wrap .main_visual .swiper-slide { text-align: center; font-size: 0; } 
.main_wrap .main_visual .swiper-slide img { max-width: 1200px; width: 100%; height: 100%; } 
.swiper, swiper-container { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; display: block; } 
.main_wrap .main_visual .swiper-control { display: flex; width: 130px; height: 36px; position: absolute; left: calc(50% - 600px); bottom: 30px; background: rgba(49, 49, 49, 0.7); border-radius: 50px; z-index: 2; } 
.main_wrap .main_visual .swiper-pagination { width: auto; top: 50%; left: 42px; right: initial; bottom: initial; transform: translateY(-50%); font-weight: 500; font-size: 13px; color: #fff; } 
.main_wrap .main_visual .swiper-pagination .swiper-pagination-current { /* color: #f36f20; */ } 
.main_wrap .main_visual .swiper-button-next, .main_wrap .main_visual .swiper-button-prev { width: 6px; height: 12px; margin-top: 0; transform: translateY(-50%); background-color: transparent; background-size: contain; z-index: 10; border: 0; cursor: pointer; } 
.main_wrap .main_visual .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn.png); left: 80px; } 
.main_wrap .main_visual .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn.png); left: 15px; } 
.main_wrap .main_visual .swiper-button-pause, 
.main_wrap .main_visual .swiper-button-resume { display: block; width: 10px; height: 12px; position: absolute; top: 50%; right: 18px; transform: translateY(-50%); background-color: transparent; background-size: contain; background-repeat: no-repeat; border: 0; } 
.main_wrap .main_visual .swiper-button-pause { background-image: url(../../images/learninghub/ico_stop.png); } 
.main_wrap .main_visual .swiper-button-resume { background-image: url(../../images/learninghub/ico_start.png); } 
.main_wrap .main_visual .swiper:not(.swiper-paused) .swiper-button-resume, .main_wrap .main_visual .swiper-paused .swiper-button-pause { display: none; } 
.main_wrap .clist_slide .slide_wrap { display: flex; justify-content: space-between; } 
.main_wrap .clist_slide .cont_wrap { width: 180px; flex-shrink: 0; } 
.main_wrap .clist_slide .cont_wrap .c_tit { color: #373737; font-size: 20px; } 
.main_wrap .clist_slide .cont_wrap .c_tit span { font-size: 28px; font-weight: bold; } 
.main_wrap .clist_slide .cont_wrap .c_txt { margin-top: 16px; color: #666666; font-size: 13px; } 
.main_wrap .clist_slide .cont_wrap button { width: 100%; max-width: 170px; margin-top: 16px; padding: 4px 0; background: #fff; color: #373737; font-weight: 500; font-size: 15px; border: 1px solid #373737; border-radius: 30px; } 
.main_wrap .clist_slide .cont_wrap .slide_btn { margin-top: 70px; position: relative; } 
.main_wrap .curation_cont.clist_slide .cont_wrap .slide_btn { margin-top: 100px; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-prev,
.main_wrap .clist_slide .cont_wrap .swiper-button-next { width: 50px; height: 50px; margin-top: 0; background-size: contain; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn_01.png); left: 0; } 
.main_wrap .clist_slide .cont_wrap .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn_01.png); left: 70px; } 
.main_wrap .curation_cont.clist_slide .cont_wrap .swiper-button-prev { background-image: url(../../images/learninghub/ico_prev_btn_02.png); } 
.main_wrap .curation_cont.clist_slide .cont_wrap .swiper-button-next { background-image: url(../../images/learninghub/ico_next_btn_02.png); } 
.main_wrap .clist_slide .con_list { width: calc(100% - 300px); overflow: hidden; } 
.clist_slide .item a:hover::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(22, 22, 22, 0.92); border-radius: 10px; z-index: 5; } 
.clist_slide .item a { display: block; position: relative; } 
.clist_slide .item .img_wrap { border: 1px solid #dadada; border-radius: 10px; font-size: 0; overflow: hidden; } 
.clist_slide .item .img_wrap img { width: 100%; height: 100%; object-fit: cover; } 
.clist_slide .item .txt .t_date { margin-top: 15px; color: #666666; font-size: 13px; } 
.clist_slide .txt .t_tit { display: -webkit-box; height: 46px; margin: 8px 0 12px; color: #212121; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.t_state .t_tag { display: inline-block; padding: 4px 10px; background: #f2f2f2; font-size: 1.2rem; color: #666666; border-radius: 5px; } 
.t_state .t_tag { background: #e5e5e5; color: #898989; } 
.clist_slide .item .h_wrap { display: none; width: 100%; height: 100%; padding: 50px 18px 16px; position: absolute; top: 0; bottom: 0; color: #fff; box-sizing: border-box; z-index: 8; } 
.clist_slide .item a:hover .h_wrap { display: flex; flex-direction: column; } 
.clist_slide .item .h_wrap .h_tit { display: -webkit-box; height: 46px; margin-bottom: 30px; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.clist_slide .item .h_wrap li { padding-left: 16px; position: relative; font-size: 1.3rem; } 
.clist_slide .item .h_wrap li::before { content: ''; width: 12px; height: 12px; position: absolute; left: 0; top: 2px; background: url(../../images/learninghub/h_list_icon.png) no-repeat; } 
.clist_slide .item .h_wrap .h_btn { margin-top: auto; padding: 10px 0; background: #ff7000; color: #fff; font-size: 1.7rem; font-weight: bold; text-align: center; border-radius: 10px; } 
.hot_trend .cont_tabs { display: flex; margin-bottom: 60px; justify-content: center; } 
.hot_trend .cont_tabs li.active a { background: #373737; color: #fff; } 
.hot_trend .cont_tabs li + li { margin-left: 10px; } 
.hot_trend .cont_tabs li a { display: flex; width: 100%; height: 100%; padding: 8px 22px; background: #fff; color: #666666; font-size: 1.5rem; align-items: center; justify-content: center; text-align: center; box-sizing: border-box; border: 1px solid #373737; border-radius: 30px; } 
.hot_trend .tit_wrap { margin-bottom: 5rem; text-align: center; } 
.hot_trend .tit_wrap .p_tit { margin-bottom: 2rem; color: #373737; font-size: 2.8rem; font-weight: bold; } 
.hot_trend .tit_wrap p { color: #373737; font-size: 1.6rem; } 
.hot_trend .tab_content { display: none; } 
.hot_trend .tab_content.active { display: block; } 
.main_wrap .hot_trend .slide_wrap { position: relative; } 
.main_wrap .hot_trend.clist_slide .con_list { width: 100%; } 

.main_wrap .hot_trend.clist_slide .swiper-button-prev,
.main_wrap .hot_trend.clist_slide .swiper-button-next { width: 82px; height: 82px; margin-top: 0; transform: translateY(-50%); background-size: contain; } 
.main_wrap .hot_trend.clist_slide .swiper-button-next { right: -90px; background-image: url(../../images/learninghub/ico_next_btn_03.png); } 
.main_wrap .hot_trend.clist_slide .swiper-button-prev { left: -90px; background-image: url(../../images/learninghub/ico_prev_btn_03.png); } 
.main_wrap .hot_trend.clist_slide .item a:hover::before { content: none; } 

.main_wrap .popular_cont { background: url(../../images/learninghub/popular_cont_bg.png) top center no-repeat; } 
.main_wrap .popular_cont .tit_wrap { margin-bottom: 5rem; text-align: center; } 
.main_wrap .popular_cont .tit_wrap .p_tit { margin-bottom: 2rem; color: #373737; font-size: 2.8rem; font-weight: bold; } 
.main_wrap .popular_cont .tit_wrap .p_tit span { color: #ff7000; } 
.main_wrap .popular_cont .tit_wrap p { color: #373737; font-size: 1.6rem; } 

.main_wrap .popular_cont.clist_slide .item a:hover::before { content: none; } 
.main_wrap .popular_cont.clist_slide .con_list { width: 100%; position: relative; } 
.main_wrap .popular_cont.clist_slide .con_list .item { width: 280px; transform: scale(0.5); transition: all 0.3s; opacity: 0.5; font-size: 0; } 
.main_wrap .popular_cont.clist_slide .con_list .item a { display: block; } 
.main_wrap .popular_cont.clist_slide .con_list .item .img_wrap { display: block; padding-bottom: 248px; position: relative; border-radius: 10px; overflow: hidden; } 
.main_wrap .popular_cont.clist_slide .con_list .item img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-active,
.main_wrap .popular_cont.clist_slidet .item.swiper-slide-duplicate-active { transform: scale(1); opacity: 1; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-prev { margin-right: 2%; margin-left: -2%; } 
.main_wrap .popular_cont.clist_slide .item.swiper-slide-next { margin-right: -2%; margin-left: 2%; } 
.main_wrap .popular_cont.clist_slide .item.first { margin-right: -4%; margin-left: 4%; } 
.main_wrap .popular_cont.clist_slide .item.last { margin-right: 4%; margin-left:-4%; } 
.main_wrap .popular_cont.clist_slide .swiper-button-prev,
.main_wrap .popular_cont.clist_slide .swiper-button-next { width: 82px; height: 82px; margin-top: 0; transform: translateY(-50%); background-size: contain; z-index: 10; } 
.main_wrap .popular_cont.clist_slide .swiper-button-prev { left: 50%; margin-left: -15%; background-image: url(../../images/learninghub/ico_prev_btn_03.png); } 
.main_wrap .popular_cont.clist_slide .swiper-button-next { right: 50%; margin-right: -15%; background-image: url(../../images/learninghub/ico_next_btn_03.png); } 
.main_wrap .micro_cont.clist_slide .item a:hover::before { content: none; } 
.main_wrap .micro_cont.clist_slide .item a { display: block; border-radius: 10px; font-size: 0; overflow: hidden; } 
.main_wrap .micro_cont.clist_slide .item { margin-top: 0 !important; margin-bottom: 16px !important; } 
.main_wrap .banner_wrap .con_list { position: relative; overflow: hidden; } 
.main_wrap .banner_wrap .item a { display: block; font-size: 0; border-radius: 30px; overflow: hidden; } 
.main_wrap .banner_wrap .swiper-button-prev,
.main_wrap .banner_wrap .swiper-button-next { width: 9px; height: 16px; margin-top: 0; transform: translateY(-50%); } 
.main_wrap .banner_wrap .swiper-button-prev { left: 30px; background: url(../../images/learninghub/ico_prev_btn.png) no-repeat; } 
.main_wrap .banner_wrap .swiper-button-next { right: 30px; background: url(../../images/learninghub/ico_next_btn.png) no-repeat; } 
.main_wrap .qmenu_area { padding: 4.6rem 0; background: #f9f9f9; border-radius: 20px; } 
.main_wrap .qmenu_area h3 { margin-bottom: 3rem; color: #373737; font-size: 3rem; font-weight: bold; text-align: center; } 
.main_wrap .qmenu_area ul { display: flex; max-width: 1100px; margin: 0 auto; justify-content: space-between; } 
.main_wrap .qmenu_area ul li:hover { background: #fff; box-shadow: 0px 0px 35px 0px rgba(88, 88, 88, 0.14); } 
.main_wrap .qmenu_area ul li { display: flex; width: 180px; height: 180px; border-radius: 50%; align-items: center; justify-content: center; } 
.main_wrap .qmenu_area ul li a::before { content: ''; display: block; width: 80px; height: 72px; margin: 0 auto 0.5rem; background-repeat: no-repeat; background-position: center; } 
.main_wrap .qmenu_area ul li:nth-child(1) a::before { background-image: url(../../images/learninghub/icon_qmenu01.png); } 
.main_wrap .qmenu_area ul li:nth-child(2) a::before { background-image: url(../../images/learninghub/icon_qmenu02.png); } 
.main_wrap .qmenu_area ul li:nth-child(3) a::before { background-image: url(../../images/learninghub/icon_qmenu03.png); } 
.main_wrap .qmenu_area ul li:nth-child(4) a::before { background-image: url(../../images/learninghub/icon_qmenu04.png); } 
.main_wrap .qmenu_area ul li:nth-child(5) a::before { background-image: url(../../images/learninghub/icon_qmenu05.png); } 
.main_wrap .qmenu_area ul li a { display: block; width: 100%; height: 100%; padding-top: 3rem; border-radius: 50%; align-items: center; justify-content: center; box-sizing: border-box; } 
.main_wrap .qmenu_area ul li a p { display: flex; min-height: 56px; color: #373737; font-size: 1.8rem; font-weight: 500; text-align: center; align-items: center; justify-content: center; line-height: 1.2; } 
.main_wrap .service_wrap { padding: 3.6rem 0; background: url(../../images/learninghub/service_cont_bg.png) center no-repeat; background-size: cover; } 
.main_wrap .service_wrap .service_area { display: flex; justify-content: space-between; } 
.main_wrap .service_wrap .service_right { width: 600px; padding: 50px 0 70px; position: relative; background: #fff; } 
.main_wrap .service_wrap .service_right .tit { display: inline-block; padding: 0.5rem 2.5rem; position: absolute; top: 20px; left: -20px; background: #373737; color: #fff; font-size: 1.8rem; font-weight: 500; } 
.main_wrap .service_wrap .graph_area { display: flex; max-width: 380px; width: 100%; height: 200px; margin: 0 auto; box-sizing: border-box; } 
.main_wrap .service_wrap .graph_area li { flex: 1; position: relative; } 
.main_wrap .service_wrap .graph_area li .graph { display: flex; width: 40px; height: 100%; margin: 0 auto; flex-direction: column-reverse; background: transparent; border-radius: 20px; } 
.main_wrap .service_wrap .graph_area li .graph .bar { position: relative; border-radius: 20px; } 
.main_wrap .service_wrap .graph_area li .graph .bar .g_txt { position: absolute; top: 20px; left: 50%; transform: translateX(-50%); color: #fff; font-size: 1.6rem; font-weight: bold; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data1 { background: #6dbae1; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data2 { background: #3b3f57; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data3 { background: #8adac4; } 
.main_wrap .service_wrap .graph_area li .graph .bar.data4 { background: #969cb0; } 
.main_wrap .service_wrap .graph_area li .txt { position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%); text-align: center; white-space: nowrap; } 
.main_wrap .service_wrap .graph_area li .txt p { color: #373737; font-size: 1.4rem; font-weight: 500; } 
.main_wrap .service_wrap .graph_area li .txt span { display: block; color: #878787; font-size: 1.2rem; font-weight: 400; } 
.main_wrap .service_wrap .service_left h3 { margin: 6.4rem 0 2.5rem; color: #fff; font-size: 3.4rem; font-weight: bold; } 
.main_wrap .service_wrap .service_left p { color: #fff; font-size: 1.6rem; line-height: 2; } 
.main_wrap .notice_wrap .notice_area { display: flex; justify-content: space-between; } 
.main_wrap .notice_wrap .notice_tit { display: flex; padding: 0 1rem 2rem 0; border-bottom: 1px solid #373737; justify-content: space-between; align-items: flex-end; } 
.main_wrap .notice_wrap .notice_tit h3 { color: #212121; font-size: 2.5rem; font-weight: 500; } 
.main_wrap .notice_wrap .notice_tit .more_btn::before { content: '\002B'; display: inline-block; margin-right: 4px; color: #000; } 
.main_wrap .notice_wrap .notice { width: calc(100% - 310px); position: relative; } 
.main_wrap .notice_wrap .notice .notice_list li { display: flex; padding: 1.8rem 1rem; align-items: center; border-bottom: 1px solid #ededed; } 
.main_wrap .notice_wrap .notice .notice_list li a { max-width: calc(100% - 80px); padding-left: 1rem; position: relative; color: #666666; font-size: 1.4rem; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.main_wrap .notice_wrap .notice .notice_list li a::before { content: ''; width: 2px; height: 2px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); background: #000; border-radius: 50%; } 
.main_wrap .notice_wrap .notice .notice_list li .state_area { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li .state_area span { margin-left: 1rem; } 
.main_wrap .notice_wrap .notice .notice_list li.alarm .alarm_tag { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li.file .file_tag { display: inline-block; } 
.main_wrap .notice_wrap .notice .notice_list li .alarm_tag { display: none; padding: 0.2rem 2rem; background: #ff8200; color: #fff; border-radius: 20px; vertical-align: middle; } 
.main_wrap .notice_wrap .notice .notice_list li .file_tag { display: none; width: 18px; height: 20px; background: url(../../images/learninghub/ico_file.png) no-repeat; vertical-align: middle; } 
.main_wrap .notice_wrap .notice .notice_list li .date { margin-left: auto; color: #666666; font-size: 1.4rem; font-weight: 300; white-space: nowrap; } 
.main_wrap .notice_wrap .notice_banner { max-width: 280px; width: 100%; padding: 3rem 2.8rem; background: #f2f2f2; border-radius: 30px; box-sizing: border-box; } 
.main_wrap .notice_wrap .notice_banner .b_tit { color: #373737; font-size: 2rem; font-weight: bold; } 
.main_wrap .notice_wrap .notice_banner .b_tel { color: #373737; font-size: 3.2rem; font-weight: 900; } 
.main_wrap .notice_wrap .notice_banner .txt_area { margin-top: 2rem; position: relative; text-align: right; } 
.main_wrap .notice_wrap .notice_banner .txt_area::before { content: ''; width: 72px; height: 71px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: url(../../images/learninghub/ico_notice_tel.png) no-repeat; } 
.main_wrap .notice_wrap .notice_banner .txt_area p { color: #666666; font-size: 1.5rem; font-weight: 400; } 
.main_wrap .notice_wrap .notice_banner .txt_area p + p { margin-top: 4px; } 


/* 팝업 */
.popUp.setUp { max-width: 1200px; background: #f9f9f9; z-index: 99999; } 
.popUp.setUp .popTop { border-bottom: 0; justify-content: initial; } 
.check03 label { font-size: 1.3rem } 
.check03 input[type="checkbox"] { -webkit-appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 15px; height: 15px; cursor: pointer; outline: none !important; border-radius: 3px; vertical-align: middle; background: #f9f9f9 } 
.check03 input[type="checkbox"]:checked { background:url(../../images/learninghub/ico_check.png) no-repeat top 4px left 2px #f9f9f9; } 

.check03 input[type="checkbox"]:checked::before { border-radius: 4px; transform: scale(1) translate(-50%, -50%) } 

 .popUp.setUp .ckItem .tit { margin-bottom: 2rem; color: #373737; font-size: 1.8rem; text-align: center; } 
 .popUp.setUp .com_area { display: flex; height: 170px; padding: 2rem; background: #fff; border: 1px solid #e5e5e5; border-radius: 10px; flex-direction: column; flex-wrap: wrap; align-items: flex-start; box-sizing: border-box; } 
.popUp.setUp .pc_pd { display: flex; max-width: 1060px; margin: 0 auto; gap: 0 40px; } 
.popUp.setUp .pc_pd .ckItem { flex: 1; } 
.popUp.setUp .popCont { padding: 0; } 
.popUp.setUp .popCont .btn_wrap { margin: 2rem 0 !important; } 
.popUp.setUp .popBottom { padding: 2rem 0; position: relative; background: #373737; } 
.popUp.setUp .popBottom .txt { color: #fff; font-size: 2rem; font-weight: bold; text-align: center; } 
.popUp.setUp .popBottom .txt span { color: #a0c44c; } 
.popUp.setUp .popBottom a { display: flex; max-width: 235px; width: 100%; height: 40px; position: absolute; top: 50%; right: 60px; transform: translateY(-50%); background: url(../../images/learninghub/ico_btn_arrow.png) center right 20px #000000 no-repeat; color: #fff; font-size: 1.6rem; align-items: center; justify-content: center; border-radius: 10px; } 