/* 메인 */
.for_mobile { display: none; } 
.main_slide { overflow: hidden; } 
.main_banner { height: 380px; position: relative; } 
.main_banner .swiper-button-prev,
.main_banner .swiper-button-next { width: 25px; height: 33px; top: auto; margin-top: 0; top: 50%; transform: translateY(-50%); z-index: 1; } 
.main_banner img { display: block; width: 100% } 
.main_banner .swiper-button-prev { background: url(../../images/hanmi/mb_prev.png) no-repeat center; left: 26px; } 
.main_banner .swiper-button-next { background: url(../../images/hanmi/mb_next.png) no-repeat; left: initial; right: 26px; } 
.main_banner .swiper-pagination { position: static; font-size: 0; z-index: 1; } 
.main_banner .swiper-pagination .swiper-pagination-bullet-active { background: #373737; } 
.main_banner .swiper-pagination span { width: 14px; height: 14px; margin-right: 10px; } 
.main_banner .swiper-button-play { width: 12px; height: 14px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url(../../images/hanmi/mb_start.png) center / contain no-repeat; text-indent: -99999px; z-index: 2; display: none } 
.main_banner .swiper-button-pause { width: 12px; height: 14px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url(../../images/hanmi/mb_stop.png) center / contain no-repeat; text-indent: -99999px; z-index: 2; } 
.main_banner .control { display: flex; width: 100%; position: absolute; bottom: 30px; align-items: center; justify-content: center; z-index: 2; } 
.main_banner .control .swiper-btns { width: 12px; height: 14px; position: relative; } 

.gpmu_menu { padding: 100px 0 60px; } 
.gpmu_menu .menu_list { display: flex; margin: 0 60px; justify-content: space-between; } 
.gpmu_menu .menu_list li a { display: block; width: 100%; height: 100%; color: #373737; font-size: 1.6rem; font-weight: 500; text-align: center; } 
.gpmu_menu .menu_list li a::before { content: ''; display: block; width: 125px; height: 125px; margin: 0 auto 20px; background-color: #f7f7f7; background-position: center; background-repeat: no-repeat; border-radius: 50%; transition: all 0.35s; } 
.gpmu_menu .menu_list li a.icon01::before { background-image: url(../../images/hanmi/menu_icon01.png); } 
.gpmu_menu .menu_list li a.icon02::before { background-image: url(../../images/hanmi/menu_icon02.png); } 
.gpmu_menu .menu_list li a.icon03::before { background-image: url(../../images/hanmi/menu_icon03.png); } 
.gpmu_menu .menu_list li a.icon04::before { background-image: url(../../images/hanmi/menu_icon04.png); } 
.gpmu_menu .menu_list li a.icon05::before { background-image: url(../../images/hanmi/menu_icon05.png); } 
.gpmu_menu .menu_list li a.icon06::before { background-image: url(../../images/hanmi/menu_icon06.png); } 
.gpmu_menu .menu_list li a.icon01:hover::before { background-image: url(../../images/hanmi/menu_icon01_on.png); } 
.gpmu_menu .menu_list li a.icon02:hover::before { background-image: url(../../images/hanmi/menu_icon02_on.png); } 
.gpmu_menu .menu_list li a.icon03:hover::before { background-image: url(../../images/hanmi/menu_icon03_on.png); } 
.gpmu_menu .menu_list li a.icon04:hover::before { background-image: url(../../images/hanmi/menu_icon04_on.png); } 
.gpmu_menu .menu_list li a.icon05:hover::before { background-image: url(../../images/hanmi/menu_icon05_on.png); } 
.gpmu_menu .menu_list li a.icon06:hover::before { background-image: url(../../images/hanmi/menu_icon06_on.png); } 
.gpmu_menu .menu_list li a:hover { color: #064a84; font-weight: bold; } 
.gpmu_menu .menu_list li a:hover::before { box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); } 

.box_item { background: #fff; } 
.box_item.bg_gray { background: #f7f7f7; } 
.box_item.bg_blue { background: #064a84; } 
.box_item.pd_style01 { padding: 60px 0 80px; } 
.box_item.pd_style02 { padding: 150px 0 200px; } 
.box_item.bb_dark { border-bottom: 1px solid #666666; }
.box_item.bt_gray { border-top: 1px solid #dadada; }
.cont_slide .swiper-pagination, .cont_item .swiper-pagination { display: none; } 
.cont_slide .item { border: 1px solid #dadada; border-radius: 10px; box-sizing: border-box; overflow: hidden; } 
.cont_slide .item .img_wrap { height: 235px; } 
.cont_slide .item .img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; } 
.cont_slide .item .txt { padding: 12px 16px 10px; } 
.cont_slide .item .t_state .state { display: inline-block; padding: 4px 10px; font-size: 1.2rem; color: #666666; border: 1px solid #666666; border-radius: 20px; } 
.cont_slide .item .t_state .state + .state { margin-left: 2px; } 
.cont_slide .item .t_state .state.blue { color: #4d88f4; border-color: #4d88f4; } 
.cont_slide .item .t_state .state.pink { color: #ff3e67; border-color: #ff3e67; } 
.cont_slide .item .txt .t_tit { display: -webkit-box; height: 46px; margin: 12px 0 8px; color: #212121; font-size: 1.6rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.cont_slide .item .txt .t_rate { display: flex; align-items: center; } 
.cont_slide .item .txt .t_rate .star_bg { width: 66px; height: 10px; position: relative; background: url(../../images/hanmi/star_bg.png) no-repeat; z-index: 1; } 
.cont_slide .item .txt .t_rate .star_bg span { width: auto; height: 10px; position: absolute; left: 0; top: 0; background: url(../../images/hanmi/star_on.png) no-repeat; z-index: 2; } 
.cont_slide .item .txt .t_rate .star_txt { margin-left: 4px; color: #666666; font-size: 1.3rem; } 

.cont_slide .item .btn_wrap { padding: 14px 0; background: #064a84; text-align: center; } 
.cont_slide .item .btn_wrap p { color: #fff; font-size: 1.7rem; font-weight: bold; } 
.cont_slide .item a { display: block; position: relative; } 
.cont_slide .item a:hover::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(22, 22, 22, 0.92); z-index: 5; } 
.cont_slide .item .h_wrap { display: none; width: 100%; height: 100%; padding: 50px 18px 16px; position: absolute; top: 0; bottom: 0; color: #fff; box-sizing: border-box; z-index: 8; } 
.cont_slide .item .h_wrap .h_tit { display: -webkit-box; height: 46px; margin-bottom: 30px; font-size: 1.8rem; font-weight: bold; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 
.cont_slide .item .h_wrap li { padding-left: 16px; position: relative; font-size: 1.3rem; } 
.cont_slide .item .h_wrap li::before { content: ''; width: 12px; height: 12px; position: absolute; left: 0; top: 2px; background: url(../../images/hanmi/h_list_icon.png) no-repeat; } 
.cont_slide .item .h_wrap li + li { margin-top: 10px; } 
.cont_slide .item .h_wrap .h_btn { margin-top: auto; padding: 10px 0; background: #ffffff; color: #373737; font-size: 1.7rem; font-weight: bold; text-align: center; border-radius: 10px; } 
.cont_slide .item a:hover .h_wrap { display: flex; flex-direction: column; } 
.cont_slide .slide_wrap { margin-top: 36px; position: relative; } 
.cont_slide .con_list { overflow: hidden; } 
.cont_slide .swiper-button-prev, .cont_slide .swiper-button-next { width: 60px; height: 63px; margin-top: 0; top: 50%; transform: translateY(-50%); } 
.cont_slide .swiper-button-prev { left: -100px; background: url(../../images/hanmi/btn_prev.png) no-repeat; } 
.cont_slide .swiper-button-next { right: -100px; background: url(../../images/hanmi/btn_next.png) no-repeat; } 
.page_tit { color: #373737; font-size: 3.7rem; font-family: 'NanumSquareRound', 'Noto Sans KR',sans-serif; font-weight: 800; } 
.page_tit02 {color: #373737; font-size: 4rem; font-weight: bold; text-align: center;}
.page_tit span { color: #064a84; font-family: 'NanumSquareRound', 'Noto Sans KR',sans-serif; font-weight: 800; } 
.gpmu_pick .flex_box { display: flex; align-items: center; } 
.gpmu_pick .tabs { display: flex; margin-left: auto; } 
.gpmu_pick .tabs li + li { margin-left: 10px; } 
.gpmu_pick .tabs li.active a { background: #373737; color: #fff; } 
.gpmu_pick .tabs li a { display: flex; width: 100%; height: 100%; padding: 8px 22px; background: #fff; color: #666666; font-size: 1.5rem; align-items: center; justify-content: center; text-align: center; box-sizing: border-box; border: 1px solid #373737; border-radius: 30px; } 

.gpmu_banner { padding: 70px 0 10px; } 
.gpmu_banner .banner { background-image: url(../../images/hanmi/banner_img.png); background-color: #1382ff; background-position: right -46px bottom -84px; background-repeat: no-repeat; border-radius: 20px; } 
.gpmu_banner .banner a { display: block; padding: 70px 40px; color: #fff; font-size: 2.8rem; } 

.gpmu_new .slide_wrap { position: relative; } 
.gpmu_new .con_list { margin-top: 3.6rem; overflow: hidden; } 
.gpmu_new .item a { display: block; width: 100%; height: 100%; } 
.gpmu_new .item a:hover .img_wrap::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url(../../images/hanmi/play_btn.png); background-color: rgba(22, 22, 22, 0.92); background-position: center; background-repeat: no-repeat; z-index: 5; } 
.gpmu_new .item .img_wrap { position: relative; border-radius: 10px; overflow: hidden; } 
.gpmu_new .item .img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; } 
.gpmu_new .item .txt { padding: 20px 30px 0; text-align: center; } 
.gpmu_new .item .txt span { color: #212121; font-size: 1.4rem; } 
.gpmu_new .item .txt p { display: -webkit-box; height: 46px; margin: 12px 0 0; color: #212121; font-size: 1.8rem; font-weight: 500; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 

.gpmu_notice { padding: 50px 0 60px; } 
.gpmu_notice .slide_wrap { position: relative; } 
.gpmu_notice .con_list { margin-top: 3.6rem; overflow: hidden; } 
.gpmu_notice .con_list .item:hover a { border-color: #064a84; box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.3); } 
.gpmu_notice .con_list .item:hover a .tit { color: #064a84; } 
.gpmu_notice .con_list .item a { display: block; width: 100%; height: 100%; padding: 16px 18px; background: #fff; border: 1px solid #e8e8e8; border-radius: 15px; box-sizing: border-box; text-align: center; } 
.gpmu_notice .con_list .item a .tit { display: -webkit-box; color: #373737; font-size: 1.8rem; font-weight: 500; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis; word-break: keep-all; overflow: hidden; } 
.gpmu_notice .con_list .item a .date { display: block; margin-top: 13px; padding-top: 13px; color: #666666; font-size: 1.3rem; border-top: 1px solid #e8e8e8; } 
.gpmu_notice .control_btn { display: none; } 
.gpmu_notice .swiper-button-next { right: 0; background: url(../../images/hanmi/slide_btn_next.png) no-repeat; } 
.gpmu_notice .swiper-button-prev { left: 0; background: url(../../images/hanmi/slide_btn_prev.png) no-repeat; } 
.gpmu_notice .swiper-button-prev, .gpmu_notice .swiper-button-next { width: 20px; height: 34px; margin-top: 0; top: 50%; transform: translateY(-50%); } 
.gpmu_letter .slide_wrap { position: relative; } 
.gpmu_letter .con_list { margin-top: 3.6rem; overflow: hidden; } 
.gpmu_letter .item a { display: block; width: 100%; height: 100%; } 
.gpmu_letter .item a:hover .img_wrap img { transform: scale(1.1); } 
.gpmu_letter .item .img_wrap { border: 1px solid #e8e8e8; overflow: hidden; } 
.gpmu_letter .item .img_wrap { max-height: 260px; height: 100%; } 
.gpmu_letter .item .img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; transition: all 0.35s; } 
.gpmu_letter .item .txt { margin-top: 25px; } 
.gpmu_letter .item .txt p { display: -webkit-box; height: 46px; margin: 12px 0 0; color: #212121; font-size: 1.8rem; font-weight: 500; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 23px; word-break: keep-all; overflow: hidden; } 

.gpmu_introduction { padding: 80px 0 90px; } 
.gpmu_introduction .con_list { display: flex; align-items: center; } 
.gpmu_introduction .txt_wrap { margin-right: 68px; } 
.gpmu_introduction .txt_wrap .tit { margin-bottom: 34px; color: #fff; font-size: 3.2rem; font-weight: bold; } 
.gpmu_introduction .txt_wrap .txt { margin-bottom: 36px; color: #fff; font-size: 1.8rem; line-height: 1.5; word-break: keep-all; } 
.gpmu_introduction .txt_wrap a { display: inline-block; padding: 14px 20px; position: absolute; color: #064a84; font-size: 1.8rem; font-weight: 500; border-radius: 30px; transition: all .3s; box-sizing: border-box; overflow: hidden; z-index: 1; } 
.gpmu_introduction .txt_wrap a::after { content: ''; width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; background-color: #fff; border-radius: 30px; transition: all .3s; z-index: -2; } 
.gpmu_introduction .txt_wrap a::before { content: ''; width: 0%; height: 100%; position: absolute; bottom: 0; left: 0; background-color: rgb(6, 74, 132, 0.8); border-radius: 30px; transition: all .3s; z-index: -1; } 
.gpmu_introduction .txt_wrap a:hover::before { width: 100%; } 
.gpmu_introduction .txt_wrap a:hover { color: #fff; } 
.gpmu_introduction .txt_wrap a:hover span::after { background: url(../../images/hanmi/arrow_btn_on.png) no-repeat; } 
.gpmu_introduction .txt_wrap a span { display: flex; align-items: center; } 
.gpmu_introduction .txt_wrap a span::after { content: ''; display: inline-block; width: 35px; height: 18px; margin-left: 16px; background: url(../../images/hanmi/arrow_btn.png) no-repeat; } 
.gpmu_introduction .img_wrap { max-width: 600px; width: 100%; max-height: 340px; overflow: hidden; } 
.gpmu_introduction .img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; } 

/* login */
.login_tit { margin-bottom: 70px; color: #373737; font-size: 4rem; font-weight: bold; text-align: center; } 
.login_wrap { display: flex; max-width: 930px; padding: 60px 10px; margin: 0 auto; background: #fff; border: 1px solid #000; border-radius: 30px; justify-content: center; } 
.login_wrap > div { flex: 1; padding: 0 40px; } 
.login_wrap .flex_item { display: flex; min-height: 300px; flex-direction: column; } 
.login_wrap .big_btn { width: 100%; display: block; margin-top: auto; padding: 10px; border-radius: 30px; font-size: 1.5rem; font-weight: bold; text-align: center; border: 0; box-sizing: border-box; } 
.big_btn.btn_style01 { background: #064a84; color: #fff; border: 1px solid #064a84; } 
.big_btn.btn_style02 { background: #fff; color: #064a84; border: 1px solid #064a84; } 
.login_wrap h4 { margin-bottom: 30px; color: #373737; font-size: 2.6rem; font-weight: bold; } 
.login_wrap .login_item > div + div { margin-top: 1rem; } 
.login_wrap .login_item input { width: 100%; background: #f7f8fa; padding: 1.2rem 3rem; font-size: 1.4rem; border: 0; border-radius: 10px; box-sizing: border-box; } 
.login_wrap .login_item input::placeholder { color: #c5c6c7 } 
.login_wrap .check_style { margin-top: 2rem; } 
.login_wrap .check_style input[type="checkbox"] { display: none; } 
.login_wrap .check_style label { color: #666666; font-size: 1.3rem; cursor: pointer; } 
.login_wrap input[type="checkbox"] + label:before { content: ''; display: inline-block; width: 13px; height: 13px; margin: 0 8px 0 0; vertical-align: middle; border: 1px solid #c9cdd2; border-radius: 100%; cursor: pointer; } 

.login_wrap input[type="checkbox"]:checked + label:before { content: ''; background: #064a84; border-color: #064a84; box-shadow: inset 0 0 1px 2px white; } 
.login_wrap .find_box { display: flex; margin: 70px 0 40px; justify-content: center; } 
.login_wrap .find_box a { position: relative; color: #666666; font-size: 1.3rem; } 
.login_wrap .find_box a + a { margin-left: 10px; padding-left: 10px; } 
.login_wrap .find_box a + a::after { content: ''; display: block; width: 1px; height: 10px; background: #ddd; position: absolute; left: 0; top: 50%; transform: translateY(-50%); } 

.login_wrap .sign_box .txt { color: #666666; font-size: 1.4rem; line-height: 1.4; letter-spacing: -1.5px; } 
.login_wrap .sign_box .txt::after { content: ''; display: block; width: 212px; height: 140px; margin: 40px auto; background: url(../../images/hanmi/sign_icon01.png) no-repeat; } 

/* process_list */
.board_seach_area { max-width: 420px; width: 100%; margin: 60px auto; position: relative; } 
.board_seach_area .input_wrap { display: flex; width: 100%; padding: 10px 10px; border-radius: 30px; justify-content: space-between; box-shadow: rgba(17, 17, 26, 0.2) 0px 0px 16px; overflow: hidden; } 
.board_seach_area .input_wrap input { width: calc(100% - 30px); border: 0; font-size: 1.3rem; } 
.board_seach_area .input_wrap input::placeholder { color: #bcbcbc; } 
.board_seach_area .input_wrap button { width: 20px; background: url(../../images/hanmi/seach_ico.png) center / contain no-repeat; border: 0; text-indent: -99999px; } 
.gpmu_list_tab .tabs { display: flex; justify-content: center; } 
.gpmu_list_tab .tabs li + li { margin-left: 10px; } 
.gpmu_list_tab .tabs li.active a { background: #373737; color: #fff; } 
.gpmu_list_tab .tabs li a { display: flex; width: 100%; height: 100%; padding: 8px 22px; background: #fff; color: #666666; font-size: 1.5rem; align-items: center; justify-content: center; text-align: center; box-sizing: border-box; border: 1px solid #373737; border-radius: 30px; } 
.notice_wrap { margin-top: 50px; padding-bottom: 20px; border-bottom: 1px solid #000; } 
.notice_wrap > p { color: #373737; font-size: 1.8rem; } 
.notice_wrap > p span { color: #064a84; font-weight: bold; } 
.notice_wrap .sort_list { margin-top: 20px; } 
.notice_wrap .sort_list .radio_btn { display: inline-block; border: 1px solid #064a84; border-radius: 30px; overflow: hidden; } 
.notice_wrap .sort_list .radio_btn input[type=radio] { display: none; } 
.notice_wrap .sort_list .radio_btn label { display: block; padding: 6px 18px; color: #064a84; font-size: 1.4rem; cursor: pointer; } 
.notice_wrap .sort_list .radio_btn input[type=radio]:checked + label { background: #064a84; color: #fff; } 

.paging { display: flex; justify-content: center; margin-top: 60px; align-items: center; } 
.paging li a { display: flex; width: 26px; height: 26px; margin-right: 5px; color: #666666; font-size: 1.6rem; justify-content: center; align-items: center; border-radius: 100%; } 
.paging li.active a { background: #064a84; color: #fff; } 
.paging li.prev_arrow a { background: url(../../images/hanmi/prev_arrow.png) no-repeat center; } 
.paging li.next_arrow a { background: url(../../images/hanmi/next_arrow.png) no-repeat center; } 

.m_paging { display: none; justify-content: center; margin-top: 30px; align-items: center; } 
.m_paging a { width: 25px; height: 25px; display: flex; justify-content: center; align-items: center; } 
.m_paging .prev_arrow { background: url(../../images/hanmi/prev_arrow.png) no-repeat center; background-size: 5px; } 
.m_paging .next_arrow { background: url(../../images/hanmi/next_arrow.png) no-repeat center; background-size: 5px; } 
.m_paging p { margin: 0 10px; font-size: 1.4rem; } 
.m_paging p .cut { color: #064a84; font-weight: bold; }

@media all and (max-width:1400px){
    .cont_slide .swiper-button-next,
    .cont_slide .swiper-button-prev {
        display: none;
    }
}
@media all and (max-width:1200px){
    .main_banner {
        height: auto;
    }
    .main_banner .control {
        bottom: 15px;
    }

    .gpmu_menu .menu_list {
        flex-wrap: wrap;
        gap: 20px;
    }
    .gpmu_menu .menu_list li {
        width: calc(100% / 3 - 20px);
    }

    .gpmu_pick .flex_box {
        display: block;
    }
    .gpmu_pick .tabs {
        margin: 2rem 0 0 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .cont_slide .swiper-pagination,
    .cont_item .swiper-pagination {
        display: block;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .cont_slide .swiper-pagination span,
    .cont_item .swiper-pagination span {
        width: 14px;
        height: 14px;
    }
    .cont_slide .swiper-pagination span + span,
    .cont_item .swiper-pagination span + span {
        margin-left: 6px;
    }
    .cont_slide .swiper-pagination-bullet-active,
    .cont_item .swiper-pagination-bullet-active {
        background-color: #064a84;
    }
}

@media all and (max-width:1024px){
    .for_mobile {display: block;}
    .gpmu_banner .banner {
        background-position: right 0 bottom -50px;
        background-size: 400px;
    }
    .gpmu_notice .control_btn {display: block;}
    .gpmu_notice .slide_wrap {padding: 0 40px;}
}

@media all and (max-width:860px){
    .gpmu_introduction .con_list {
        flex-wrap: wrap;
    }
    .gpmu_introduction .txt_wrap {
        margin-right: 0;
        order: 2;
    }
    .gpmu_introduction .img_wrap {
        margin-bottom: 2rem;
        order: 1;
    }
}

@media all and (max-width:640px){
    .main_slide .inner {
        width: 100%;
    }
    .main_banner .control {
        bottom: 10px;
    }
    .main_banner .swiper-pagination span {
        width: 8px;
        height: 8px;
        margin-right: 6px;
    }
    .main_banner .swiper-button-play,
    .main_banner .swiper-button-pause {
        width: 8px;
        height: 10px;
    }
    .main_banner .swiper-button-prev,
    .main_banner .swiper-button-next {
        display: none;
    }
    .gpmu_menu {
        padding: 30px 0 0;
    }
    .gpmu_menu .menu_list {
        margin: 0;
        gap: 10px;
    }
    .gpmu_menu .menu_list li a::before {
        width: 90px;
        height: 90px;
        margin: 0 auto 10px;
        background-size: 35%;
    }


    .box_item.pd_style01 {
        padding: 30px 0 50px;
    }
    .cont_slide .item a:hover .h_wrap {
        display: none;
    }
    .cont_slide .item a:hover::before {
        content: none;
    }

    .cont_slide .swiper-pagination,
    .cont_item .swiper-pagination {
        bottom: -25px;
    }
    .cont_slide .swiper-pagination span,
    .cont_item .swiper-pagination span {
        width: 8px;
        height: 8px;
    }
    .cont_slide .swiper-pagination span + span,
    .cont_item .swiper-pagination span + span {
        margin-left: 4px;
    }
    .gpmu_banner {        
        padding: 0 0 10px;
    }
    .gpmu_banner .inner {
        width: 100%;
    }
    .gpmu_banner .banner {
        background-position: right -10px bottom -20px;
        background-size: 150px;
        border-radius: 0;
    }
    .gpmu_banner .banner a {
        padding: 30px 20px;
        font-size: 2rem;
    }
    .gpmu_new .item a:hover .img_wrap::before {
        content: none;
    }
    .gpmu_new .item .txt {
        padding: 10px 10px 0;
    }
    .gpmu_new .item .txt p {
        margin: 4px 0 0;
    }
    .gpmu_introduction {
        padding: 30px 0;
    }
    .gpmu_introduction .txt_wrap a:hover {
        color: #064a84;
    }
    .gpmu_introduction .txt_wrap a:hover span::after {
        background: url(../../images/hanmi/arrow_btn.png) no-repeat;
    }
    .gpmu_introduction .txt_wrap a:hover::before {
        content: none;
    }
    .gpmu_introduction .txt_wrap a {
        position: static;
        background: #fff;
        
    }
}